.button{
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.btn-primary{
    background-color: var(--azul);
    border-color: var(--azul);
}

.carousel-caption{
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner{
    height: 45rem;
}
