.button{
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.btn-primary{
    background-color: var(--azul);
    border-color: var(--azul);
}

.carousel-caption{
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.padding{
    padding-bottom: 2rem ;
}

.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid var(--bege);
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

a {
    color: var(--preto);
}

a:hover{
    color: var(--azul);
}

