@media (min-width: 992px){
    #barra_nav .nav-link{
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (max-width: 991.98px) {
    #barra_nav .navbar_collapse{
        width: 100%;
    }
}
